body
{
 font-family:Arial,Futura,Gill Sans;
}

.header
{
 height:40px;
 padding-top:2em;
}

#name
{
 display:inline;   /*将块级元素变为行内元素*/
 font-size:28px;
 font-weight:bold; /*加粗*/
 margin-left:5%;
 margin-top:1.5em;
}

#nav
{
 display:inline;
}

li
{
 float:right;
 font-size:20px;
 font-weight:bold;
 list-style:none; /*去除li的样式*/
 margin-right:5%;
 margin-top:0.5em;
}

a
{
 text-decoration: none;	/*去除超链接样式*/
 color: #000;           /*指定黑色*/
}

a:hover
{
 color:#ccc;  /*鼠标碰到会变色*/
}

.content
{
 border:none; /*边框*/
}

#web_1
{
 margin-left:5%;
 margin-top:1.2em;
 border:4px solid; 
 width:90%;
 height: auto;
}

.footer
{
 color:grey;
 font-size:12px;
 position: absolute;
 bottom: 0;
 right: 0;
}
